*.meta
Unity/Ey Tech2/Library
Unity/Ey Tech2/Logs
Unity/Ey Tech2/UserSettings

Unity/Electric Lines/Library
Unity/Electric Lines/Logs
Unity/Electric Lines/UserSettings

Unity/Electric Lines 2/Library
Unity/Electric Lines 2/Logs
Unity/Electric Lines 2/UserSettings

Unity/EY-TECH 3/

Unity/Pipelines/Library
Unity/Pipelines/Logs
Unity/Pipelines/UserSettings

Unity/Pipelines 2/Library
Unity/Pipelines 2/Logs
Unity/Pipelines 2/UserSettings
*.tgz
